# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.core.resources.prefs
gradlew
gradlew.bat
settings.gradle
app/.classpath
*.log
app/.settings/
app/bin/
app/config-dev.yaml
gradle/
app/config2.yaml
